[Unit]
Description=td-agent: Fluentd based data collector for Treasure Data
Documentation=https://docs.treasuredata.com/articles/td-agent
After=network-online.target
Wants=network-online.target

[Service]
User={{ fluentd_user }}
Group={{ fluentd_group }}
LimitNOFILE=65536
{% if fluentd_gcp_flag == true %}
Environment=GOOGLE_APPLICATION_CREDENTIALS={{ fluentd_gcp_key_file }}
{% endif %}
{% if fluentd_aws_glag == true %}
Environment=AWS_REGION={{ fluentd_aws_region }}
Environment=AWS_ACCESS_KEY_ID={{ fluentd_aws_access_key_id }}
Environment=AWS_SECRET_ACCESS_KEY={{ fluentd_aws_secret_access_key }}
{% endif %}
Environment=LD_PRELOAD=/opt/td-agent/embedded/lib/libjemalloc.so
Environment=GEM_HOME=/opt/td-agent/embedded/lib/ruby/gems/2.4.0/
Environment=GEM_PATH=/opt/td-agent/embedded/lib/ruby/gems/2.4.0/
Environment=FLUENT_CONF=/etc/td-agent/td-agent.conf
Environment=FLUENT_PLUGIN=/etc/td-agent/plugin
Environment=FLUENT_SOCKET=/var/run/td-agent/td-agent.sock
Environment=TD_AGENT_OPTIONS=
PIDFile=/var/run/td-agent/td-agent.pid
RuntimeDirectory=td-agent
Type=forking
ExecStart=/opt/td-agent/embedded/bin/fluentd --log /var/log/td-agent/td-agent.log --daemon /var/run/td-agent/td-agent.pid $TD_AGENT_OPTIONS
ExecStop=/bin/kill -TERM ${MAINPID}
ExecReload=/bin/kill -HUP ${MAINPID}
Restart=always
TimeoutStopSec=120

[Install]
WantedBy=multi-user.target
